@charset "UTF-8";

@font-face {
    font-family: old;
    src: url(../estilos/old_london/OldLondon.ttf);
}
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    text-align: center;
    color: gold;
    background-image: linear-gradient(to bottom, #882469 50%, #FF5751);
    padding: 50px;
    margin-bottom: 1px solid #882469;
}
article {
    padding: 10px;
}
h1 {
    font-size: 3em;
    font-family: old;
}
main {
    background-color: #88246842;
    margin: auto;
    max-width: 800px;
}
p {
    padding: 10px;
}
