@charset "UTF-8";

body {
    background-color: rgb(112, 112, 250);
    font: normal 15pt arial;
    color: white;
}
header {
    text-align: center;
}
section {
    padding: 15px;
    width: 400px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    color: black;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.411);
}
#imagem {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
footer {
    text-align: center;
    font-style: italic;
}